body
{
    display: grid;
    grid-template-rows: 10vh 90vh;
    height: 100%;
}
.prenomNomCheatSheet
{
    border: solid;
    border-color: #349afa;
    display: grid;
    grid-template-rows: 50% 50%;
}
.prenomNom
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
.cheatsheet
{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 4em;
    color: #349afa;
}
.principauxDomainesDeCompetences
{
    display: grid;
    grid-column: 1/3;
    background-color: #fae934;
}

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */


img
{
    width:2%;
}